.sw-system-sync .sw-sync-tasks { margin-bottom: 16px; }
.sw-system-sync .sw-sync-task-code { font-size: 12px; }
.sw-system-sync .sw-sync-scope { font-size: 20px; letter-spacing: -.02em; }
.sw-system-sync .sw-sync-time { font-size: 12px; }
.sw-system-sync .sw-sync-run-form { width: 100%; }
